@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 2rem;
	color: #333;
	background: #000 url("../imagens/fundo-baixo.jpg") no-repeat center bottom; /* imagem de fundo sem repetição, centralizada ao rodapé.*/
}

h1 { /* mudou */
    font-size: 4rem;
    padding: 1rem 0rem 1rem 0rem;
}

h2 { /* mudou */
    font-size: 3rem;
    padding: 0.8rem 0rem 0.5rem 0rem;
}

p {
	margin: 0rem 0rem 2rem 0rem ; /* mudou */
	line-height: 3rem; /* espaçamento entre linhas */
}

div#interface { /* mudou tudo */
	/* max-width: 640px; /* Máximo para largura de tela smartphone */
	max-width: 900px;
	min-width: 300px; /* Mínimo de tela de celular até hj é 320 px, então descontando o padding e margin, ficamos com 300 */
	padding: 20px;
	background: rgba(255,255,255,0.90); /* rgb alpha. O 0.90 é uma transparência */
	margin: auto;
}

aside#logo-menu { /* mudou */
	width: 100%;
	/* background-color: red; */
}

header { /* mudou */
	width: 100%;
	text-align:center;
	background: #fff;
}

header img { /* mudou */
    margin: 12px 0 10px 0; /* mudou de 0 p 10px no bottom */
	width: 80%; /* não existia. A largura está em % pois as telas são de tamanhos diferentes */
}

header, section article, section .imagem, section {
	margin: 0px 0px 15px 0px;
}

nav ul li {
	list-style: none; /* sem marcadores */
	line-height: 4rem; /* espaçamento entre linhas */
	border-bottom: 0.2rem solid #ccc;
}

nav ul li a { /* menu com cores invertidas em relação ao desktop */
    padding: 2rem 0rem 2rem 2rem;
    background: #333;
	color: #fff;
	text-decoration: none; /* sem sublinhado */
	display: block;
	font-size: 2rem;
	transition: all 0.3s;
}

nav ul li a:hover { /* menu com cores invertidas em relação ao desktop */
	color: #333;
	background: #cecece;
	text-indent: 4rem; /* espaço antes do texto */
}

section { /* mudou */
	width: 100%;
}

article#texto, article#artigo-interno { /* mudou */
	width: 100%;
	/* background-color: red; */
}

aside#imagens {
    width: 100%;
    /* background-color: red; */
}

.imagem {
    width: 70%;
}

.video { /* mudou */
    width: 784px;
    height: 441px;
}

.mapa { /* mudou */
    width: 800px;
    height: 1000px;
}

footer { /* mudou */
	width: 100%;
	line-height: 50px;
	text-align: right;
	border-top: 1px solid #333;
}

footer a {
	color: #000;
	text-decoration: none; /* sem sublinhado */
	font-size: 1.7rem;
	font-style: italic;
}
